<nav class="navbar fixed-bottom navbar-light bg-primary">
  <a class="navbar-brand" href="#">Developed and Designed by Philip Munyua</a>
  <a href="https://www.facebook.com/mutumamunyua"><i class="fa fa-facebook-official"></i></a>
  <a href="https://www.instagram.com/mutumachia/"><i class="fa fa-instagram"></i></a>
  <a href="https://twitter.com/philip_munyua"><i class="fa fa-twitter"></i></a>
</nav>