<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="/images/pic_pass.jpg" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <h1>About Me</h1>
            <p>Hello, My name is Philip Munyua. I am a PhD Trained Data Scientist</p>
            <p>I use Machine Learning, Deep Learning to develop
                 Artificial Intelligence strategies for businesses</p>
                 <br>
                 <h4>My Resume</h4>
                 <a href="/resume/Philip-Resume.pdf">
                 <i class="fa fa-download"></i>   Download pdf</a>
                 <br>
                 <a href="/resume/Philip-Resume.docx">
                 <i class="fa fa-download"></i>   Download docx</a>
        </div>
    </div>
</div>
