<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="/images/pass1.jpg" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <h1>About Me</h1>
            <p>Hello, My name is Philip Munyua. I am a PhD Trained Data Scientist</p>
            <p>I use Machine Learning, Deep Learning to develop Artificial Intelligence strategies for businesses</p>
        </div>
    </div>
</div>
