<div class="container">
    <h1>Education</h1>
    <ul class="list-unstyled">
        <li class="media">
            <i class="fa fa-graduation-cap"></i>
            <div class="media-body">
                <h5 class="mt-0 mb-1">  Purdue Polytechnique Institute: Purdue University</h5>
                <p>Phd in Computer Information Systems</p>
                My dissertation projects focused on Collective Intelligence where I 
                applied Data Science and Quantitative modeling to examine the formation
                 mechanics/processes of open digital/online platforms and their impact on
                  participant’s output (productivity) and choice (contagion).

                Dissertation Title; “Collaboration in Scientific Digital Ecosystems: 
                A Socio-Technical Network Analysis”.
                <p>2016</p>
                <small>West Lafayette, IN, USA</small>
            </div>
        </li>
        <hr>
        <li class="media">
            <i class="fa fa-graduation-cap"></i>
            <div class="media-body">
                <h5 class="mt-0 mb-1">  Purdue University</h5>
                <p>MS in Quantitative Economics (Econometrics)</p>
                Quantitative Econometrics
                <p>2012</p>
                <small>West Lafayette, IN, USA</small>
            </div>
        </li>
        <hr>
        <li class="media my-4">
            <i class="fa fa-graduation-cap"></i>
            <div class="media-body">
                <h5 class="mt-0 mb-1">Columbia University</h5>
                <p>Masters in Arts</p>
                Sustained Development
                 <p>2010</p>
                 <small>New York, New York, USA</small>
            </div>
        </li>
        <hr>
        <li class="media">
            <i class="fa fa-graduation-cap"></i>
            <div class="media-body">
                <h5 class="mt-0 mb-1">University of Nairobi</h5>
                <p>Master of Science in Applied Economics </p>
                Economics and Applied Economics
                 <p>2009</p>
                 <small>Nairobi, Kenya</small>
            </div>
        </li>
        <hr>
        <li class="media">
            <i class="fa fa-graduation-cap"></i>
            <div class="media-body">
                <h5 class="mt-0 mb-1">University of Nairobi</h5>
                <p>Bachelor of Science in Applied Math and Computer Science </p>
                Applied Mathematics and Computer Science
                 <p>2001</p>
                 <small>Nairobi, Kenya</small>
            </div>
        </li>
    '</ul>
</div>