<div class="container">
    <h1>Education</h1>
    <ul class="list-unstyled">
        <li class="media">
            <i class="fa fa-graduation-cap"></i>
            <div class="media-body">
                <h5 class="mt-0 mb-1">  Purdue Polytechnique Institute: Purdue University</h5>
                <p>Phd in Computer Information Systems</p>
                My dissertation projects focused on Collective Intelligence where I 
                applied Data Science and Quantitative modeling to examine the formation
                 mechanics/processes of open digital/online platforms and their impact on
                  participant’s output (productivity) and choice (contagion).

                Dissertation Title; “Collaboration in Scientific Digital Ecosystems: 
                A Socio-Technical Network Analysis”.
                <p>2016</p>
                <small>West Lafayette, IN, USA</small>

            </div>
        </li>
        <hr>
        <li class="media my-4">
            <i class="fa fa-graduation-cap"></i>
            <div class="media-body">
                <h5 class="mt-0 mb-1">Columbia University</h5>
                <p>Masters in Arts</p>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel 
                metus scelerisque ante sollicitudin. Cras purus odio, 
                vestibulum in vulputate at, tempus viverra turpis. Fusce 
                condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                 congue felis in faucibus.
                 <p>2010</p>
                 <small>New York, New York, USA</small>
            </div>
        </li>
        <hr>
        <li class="media">
            <i class="fa fa-graduation-cap"></i>
            <div class="media-body">
                <h5 class="mt-0 mb-1">University of Nairobi</h5>
                <p>Bachelor of Science in Applied Math and Computer Science </p>

                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                 ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus 
                 viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. 
                 Donec lacinia congue felis in faucibus.
                 <p>2001</p>
                 <small>Nairobi, Kenya</small>
            </div>
        </li>
    '</ul>
</div>