<div id= "homepic" class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="/images/pass1.jpg" class="img-responsive">
        </div>
    </div>
</div>
<div id="homepage" class="container">
    <h1>Welcome to My Website</h1>
    <h3>Philip Munyua</h3>
    <h4>Data Science Consultant</h4>
    <p>Helping Businesses Make Data Driven Decisions. <a href="/contact">Contact me</a></p>
</div>