<div class="container">
    <h1>Portfolio Page</h1>
    <p>This page displays some projects and publications</p>
    <div class="row">
        <div class="col-sm-4">
            <img src="/images/pass1.jpg" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <img src="/images/pass1.jpg" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <img src="/images/pass1.jpg" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <img src="/images/pass1.jpg" class="img-responsive">
        </div>
    </div>
</div>